body {
    background: white;
}
#frm{
    background: grey;
    border: solid black 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    
}
#btn{
    color: black;
    padding: 5px;
    margin-left: 65px;
}